@layer base {
  body {
    @apply text-base text-black xl:text-lg;
  }
  html {
    @apply m-0;
  }
  html,
  body{
    @apply overflow-x-hidden bg-white;
  }
  h1,
  .h1 {
    @apply 2xl:text-72 xl:text-42 md:text-42 font-bold text-36 ;
  }

  h2,
  .h2 {
    @apply 2xl:text-48 xl:text-32 md:text-32 font-bold text-30;
  }

  h3,
  .h3 {
    @apply 2xl:text-36 xl:text-24 md:text-24 font-semibold text-26;
  }

  h4,
  .h4 {
    @apply 2xl:text-25 xl:text-20 md:text-20 font-semibold text-22;
  }

  h5,
  .h5 {
    @apply 2xl:text-20 xl:text-18 md:text-18 font-medium text-20;
  }

  h6,
  .h6 {
    @apply text-h5 font-medium;
  }
  small {
    @apply text-sm;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6{
    @apply mb-0;
  }

  p,
  li,
  ol,
  ul,
  blockquote,
  figure{
    margin: 0 0 0;
  }

  ol,
  ul{
    @apply block pl-20;
  }

  ol{
    @apply list-decimal;
  }

  ul{
    @apply list-disc;
  }
  p {
    @apply mb-0;
  }
}

a {
  @apply text-primary-100 underline hover:no-underline hover:text-primary-200;
  
  &:-webkit-any-link:focus-visible {
    outline-offset: 3px;
  }
}

button{
  &:focus {
    outline: -webkit-focus-ring-color auto 1px;
    outline-offset: 3px;
  }
}
a, button{
  transition: .25s color, .25s background-color, .25s border;
  &.mouse{
    outline: none !important;
  }
}

table{
  th, td{
    @apply border p-2 border-primary-200;
  }
  th {
    @apply font-bold;
}
}

ul {
  @apply list-none;
}