---
author: Frontend Team
ourTeam: My Team
---
{% extends 'layouts/application.html' %}
{% block bodyClass %}class="page-home has-animation"{% endblock %}

{% block content %}
<main id="main-content" class="main-content pt-40">
    {% include 'modules/mod-first-module.html' %}
    {% include 'modules/mod-blue.html' %}
    {% include 'modules/mod-slick-version-two.html' %}
    {% include 'modules/mod-bed.html' %}
    {% include 'modules/mod-Quan.html' %}   
    {% include 'modules/mod-mon-hug-baby.html' %}
    {% include 'modules/mod-pillow.html' %}
    {% include 'modules/mod-difficult.html' %}
    {% include 'modules/mod-input-word.html' %}
</main>
{% endblock %}
