---
author: Frontend Team
ourTeam: My Team
title: Page list
---
{% extends 'layouts/application.html' %}
{% block bodyClass %}class="page-home has-animation"{% endblock %}

{% block content %}
<main id="main-content" class="main-content py-60">
  <div class="container">
    <ol>
      <!--File Này để liên kết với file giao diện module của ~9th Wonder~-->
      <li><a href="/">Home</a></li>
      <li><a href="/ADA.html">ADA.html</a></li>
      <li><a href="/universal.html">universal.html</a></li>
      <li><a href="/Start.html">slick-slider</a></li>
      <li><a href="/Between.html">Module-between</a></li>
      <li><a href="/End.html">Module-end</a></li>
      <li><a href="/home.html">Module-Home</a></li>
      
      


    </ol>
  </div>
</main>

{% endblock %}