.module-kho-nhat{
    .wrap-images{
        translate: -75px;
        @media (min-width :767px) {
            translate: 0px;
        }
        @media (min-width :1910px) {
            translate: 100px;
        }
    }
}