.mod-blue{
    font-family: 'Plus Jakarta Sans';
}

.first{
    font-family: 'Plus Jakarta Sans';
}

.slick-version-two{
    font-family: 'Plus Jakarta Sans';
}

.bed{
    font-family: 'Plus Jakarta Sans';
}
.mod-testimonials{
    font-family: 'Plus Jakarta Sans';
    .container{
        .main{
            .slider{
                box-shadow: 0px 4px 84px 0px rgba(0, 0, 0, 0.05);
                .slider-items{
                    background:#fff;
                }
            }
        }
    }
}
.me-om-be{
    font-family: 'Plus Jakarta Sans';
}
.goi{
    font-family: 'Plus Jakarta Sans';
}
.module-kho-nhat{
    font-family: 'Plus Jakarta Sans';
}
.Input-information{
    font-family: 'Plus Jakarta Sans';
}


//<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans">