.goi{
    .container{
        .my-goi{
            .title{
                .head.reveal{
                    position: relative;
                    opacity: 0;
                    transform: translateX(-300px);
                    transition: all 1.5s ease;
                }
                .head.reveal.active{
                    opacity: 1;
                    transform: translateX(0px);
                }
                .add.reveal{
                    position: relative;
                    opacity: 0;
                    transform: translateX(300px);
                    transition: all 1.5s ease;
                }
                .add.reveal.active{
                    opacity: 1;
                    transform: translateX(0px);
                }
                
                a{
                    &:hover {
                      color: #4197b4;
                      font-size: 15px;
                      transition: .5s;
                    }
                  }
            }
            .content-box{
                .content-1.reveal{
                    position: relative;
                    opacity: 0;
                    transform: translateX(-200px);
                    transition: all 2s ease;
                }
                .content-1.reveal.active{
                    opacity: 1;
                    transform: translateX(0px);
                }
                .content-2.reveal{
                    position: relative;
                    opacity: 0;
                    transform: translateY(100px);
                    transition: all 2s ease;
                }
                .content-2.reveal.active{
                    opacity: 1;
                    transform: translateX(0px);
                }
                .content-3.reveal{
                    position: relative;
                    opacity: 0;
                    transform: translateX(200px);
                    transition: all 2s ease;
                }
                .content-3.reveal.active{
                    opacity: 1;
                    transform: translateX(0px);
                }

                h5{
                    font-weight: bold;
                }
            }
            .content-box{
                .content-1{
                    .wrap-photo{
                        img {
                            &:hover{
                                scale: 1.1;
                                transition: 0.5s;
                            }
                        }
                    }
                }
                .content-2{
                    .wrap-photo{
                        img {
                            &:hover{
                                transition: 0.5s;
                                scale: 1.1;
                            }
                        }
                    }
                }
                .content-3{
                    .wrap-photo{
                        img {
                            &:hover{
                                transition: 0.5s;
                                scale: 1.1;
                            }
                        }
                    }
                }
            }
        }
    }
   
}