.Input-information{
    .container{
        .my-input-and-word{
            .wrap-blue{
                .div{
                    .icon{
                        a{
                            &:hover{
                                filter: blur(1px);
                                scale: 1.3;
                            }
                        }
                    }
                }
            }
         }
    }
    .container.reveal{
        opacity: 0;
        transition: all 2s ease;
    }
    .container.reveal.active{
        opacity: 1;
    }
}
