.bed{
  .reveal{
    opacity: 0;
    transform: translateY(300px);
    transition: all 3s ease;
  }
  .active{
    opacity: 1;
    transform: translateY(0px);
  }
  h5{
    font-weight: bold;
  }
  a{
    &:hover {
      color: #4197b4;
      font-size: 15px;
      transition: .5s;
    }
  }
}