.me-om-be{
    .my_me-om-be{
        .anh{
            img {
                &:hover{
                    scale: 0.9;
                    transition: 0.5s;
                }
            }
        }
        .swap-content{
            &:hover{
                scale: 0.9;
                transition: 0.5s;
            }
        }
    }
    .container.reveal{
        opacity: 0;
        transition: all 4s ease;
    }
    .container.reveal.active{
        opacity: 1;
    }
}