.bear{
      .slick-prev, //  chung 2 cái <>
      .slick-next {
        position: absolute;
        display: block;
        padding: 0;
        cursor: pointer;
        color: #043673;
        // color: red;
        border:none;//
        outline: none;
        transform: translate(0, -50%);
        z-index: 11; //
        font-size: 30px;
        display: flex;
        justify-content: end;
        top:-60px;
        // width: 50px;
        // left: 0px;
        
        @media (min-width: 767px) {
          top: -80px;
        //   left: 500px;
        }
        @media (min-width: 1279px) {
          top: 450px;
        }
      }
      
      .slick-prev {
        right: 40px;
        
        @media (min-width: 767px) {
          right: 80px;
        }
    
        @media (min-width: 1279px) {
          left: -200px;
        //   top: 500px;
          width: 30px;
        }
      }
    
      .slick-next {
        right: 0px;
    
        @media (min-width: 767px) {
          right: 30px;
        }
    
        @media (min-width: 1279px) {
          left: -150px;
        //   top: 220px;
          width: 30px;
        }
      }
    
      .slick-dots {
        position: absolute;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: end;
        gap: 25px;
        top: -10px;
        right: 40px;
    
        @media (min-width: 767px) {
          justify-content: end;
          gap: 55px;
          left:-100px;
          top: -20px;
          right: 0px;
        }
    
        @media (min-width: 1279px) {
          justify-content: start;
          padding-right: 0;
          left: -420px;
          top:500px;
          gap:28px;
        }
    
        li {
          position: relative;
          top: -10px;
          right: -50px;
          transform: translate(-50%, -50%);
          padding: 0;
          margin-bottom: 0;
          cursor: pointer;
    
          &::before {
            display: none;
          }
          
          /*thang nao khong toi thi 1px*/
          button {
            cursor: pointer;
            border-radius: 0%;
            text-indent: -9999px;
            @apply relative w-10 h-10 block;
    
            &::after {
              content: "";
              @apply absolute top-0 left-0 block rounded-full bg-gray-100 w-20 md:w-35 xl:w-20 h-1;// thay đổi chiều dài của cái dài dài ------
              transform: translateX(50%) translateY(50%);
              transition: 0.3s;
            }
          }
          
          /*thang nao duoc chon thi 3px*/
          &:hover,
          &.slick-active {
            button {
              &::after {
                height: 3px;
                top: -1px;
                @apply bg-blue-200;
              }
            }
          }
        }
      }
    
      .slider,
      .slider-lazy {
        &:not(.slick-initialized) {
          .slider-item:not(:first-child) {
            display: none;
          }
        }
      }
  }